.square, .square div{
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.square {
  animation: octoRotate 3s infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
  position: absolute;
  left: 100px;
  top: 100px;
  transform: rotate(45deg);
  border-radius: 20px;
  /*border: 5px solid rgb(104, 168, 193);*/
  /*background-color: rgb(104, 168, 193);*/
}

.square1 {
  animation: octoRotateBack 3s infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
  transform: rotate(-45deg);
  border-radius: 20px;
  /*border: 5px solid black;*/
}

@keyframes octoRotate {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes octoRotateBack {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-135deg);
  }
}



/****************************
   MAKE A WHEEL OF STUFF
*****************************/
.svgContainer {
    position: absolute;
    top: 75px;
    right: 150px;
    width: 400px;
    height: 400px;
    animation: wheelSpin 5s infinite;
    animation-timing-function: linear;
}

.svgContainer div {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 75px;
    height: 75px;
    margin: -25px;
}

.svgContainer img {
  display: block;
  width: 100%;
  animation: itemSpin 5s infinite;
  animation-timing-function: linear;
}

.deg0 {
  transform: translate(200px);
}

.deg40 {
  transform: rotate(40deg) translate(200px) rotate(-40deg);
}

.deg80 {
  transform: rotate(80deg) translate(200px) rotate(-80deg);
}

.deg120 {
  transform: rotate(120deg) translate(200px) rotate(-120deg);
}

.deg160 {
  transform: rotate(160deg) translate(200px) rotate(-160deg);
}

.deg200 {
  transform: rotate(200deg) translate(200px) rotate(-200deg);
}

.deg240 {
  transform: rotate(240deg) translate(200px) rotate(-240deg);
}

.deg280 {
  transform: rotate(280deg) translate(200px) rotate(-280deg);
}

.deg320 {
  transform: rotate(320deg) translate(200px) rotate(-320deg);
}

/*****************
   MAKE IT SPIN
******************/

@keyframes wheelSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes itemSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
